.home{
    // width: 97% ;
    display: flex;
    // justify-content: center;
    height: 93.5%;
    width: 97%;
    position: absolute;
    right: 0;
    // background-color: white;
    .center{
        // background-color: white;
        position: absolute;
        width: 76.6%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .canvas{
            width: 44%;
            height: 77.82%;
            background-color: white;
        }
    }
    .rightbar{
        position: absolute;
        width: 23.5%;
        right: 0;
        background-color: #F5F5F5;
        border-left:2px solid #DDDDDD;
        height: 100%;
        .colorpicker{
            width: auto !important;
            margin: 5px !important;
            box-shadow: none !important;
        }
    }
}